* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(99, 111, 122);
    text-align: center;
    user-select: none;
}

h1{
    padding: 10px;
}

#piece {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style:outset;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.black.king {
    border-color: gold;
}

.red.king {
    border-color: gold;
}


.black {
    background-color: black;
    border: 5px solid white;
}

.red{
    background-color: red;
    border: 5px solid white;
}

.square {
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    border: 1px outset grey;
    padding: 0;
    margin: 0;
}


.white-square {
    background-color: snow;
}

.black-square {
    background-color: rgb(27, 27, 27);
}

#chessBoard {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    border: 10px outset;
    border-radius: 5px;
    max-width: 816px;
    max-height: 816px;
    margin-left: auto;
    margin-right: auto;
}

#turntracker{
position: absolute;
left: 10%;
top: 50%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: x-large;
}

button {
    font-size: larger;

}